# Agentic Test Results

## Query: How are you?

**Planner call failed:** RetryError[<Future at 0x283f6769a90 state=finished raised NotFoundError>]


## Query: All sales for Microsoft and its account relationships

**Planner call failed:** RetryError[<Future at 0x283f673e7b0 state=finished raised NotFoundError>]


## Query: All sales

**Planner call failed:** RetryError[<Future at 0x283f677cd50 state=finished raised NotFoundError>]

